# Ignore python cache
__pycache__/
*.py[cod]

# Ignore the AI models (rtmlib will download them for her)
models/
Data/

# Ignore all videos (Originals and Overlays)
*.mp4
*.avi
*.mov

# Ignore all research data
*.csv
*.png

# Ignore virtual environments
venv/
.env/